<mat-nav-list [style.position]="absoluteInViewport ? 'absolute' : 'relative'"
  [style.top.em]="absoluteInViewport ? topGap : undefined"
  [style.margin-top.em]="absoluteInViewport ? undefined : topGap">
  <a mat-list-item (click)="simulation.sceneFromIRI(startScene, 'startScene')">
    {{ i18n.start }} </a>
  <a mat-list-item *ngIf="loadScene"
    (click)="simulation.sceneFromIRI(loadScene, 'loadScene')">
    {{ i18n.load }} </a>
  <a mat-list-item *ngIf="prefScene"
    (click)="simulation.sceneFromIRI(prefScene, 'loadScene')">
    {{ i18n.pref }} </a>
  <a mat-list-item *ngIf="aboutScene"
    (click)="simulation.sceneFromIRI(aboutScene, 'aboutScene')">
    {{ i18n.about }} </a>
  <a mat-list-item *ngIf="helpScene"
    (click)="simulation.sceneFromIRI(helpScene, 'helpScene')">
    {{ i18n.help }} </a>
  <a mat-list-item (click)="simulation.leave()">
    {{ i18n.leave }} </a>
</mat-nav-list>
