<mat-list [class.mat-action-list]="!horizontal">
  <button mat-button [class.mat-list-item]="!horizontal" [disabled]="!prevScene"
    (click)="simulation.gekijoFromIRI(prevScene, 'prevScene')"> {{ i18n.back }}
  </button>
  <button mat-button [class.mat-list-item]="!horizontal"
    (click)="simulation.gekijoFromIRI(historyScene, 'historyScene')">
    {{ i18n.history }} </button>
  <button mat-button [class.mat-list-item]="!horizontal" [disabled]="!nextScene"
    (click)="simulation.gekijoFromIRI(nextScene, 'nextScene')">
    {{ i18n.skip }} </button>
  <!-- TODO: `Auto` Need new Feature Design on SimulationService -->
  <!-- <button mat-button [class.mat-list-item]="!horizontal"> Auto </button> -->
  <!-- TODO: Save Feature Design on SimulationService -->
  <!-- <button mat-button [class.mat-list-item]="!horizontal"> Save </button>
  <button mat-button [class.mat-list-item]="!horizontal"> Q.Save </button>
  <button mat-button [class.mat-list-item]="!horizontal"> Q.Load </button> -->
  <button mat-button [class.mat-list-item]="!horizontal"
    (click)="simulation.gekijoFromIRI(prefsScene, 'prefsScene')">
    {{ i18n.prefs }} </button>
</mat-list>
