:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.left-menu {
  width: 30%;
}

div.footer {
  position: absolute;
  text-align: right;
  bottom: 80px;
  right: 100px;
}
