@import '~@angular/material/theming';

@mixin scene-component-theme($theme) {
  $primary: map-get($theme, 'primary');

  .mat-list-item.active {
    color: mat-color($primary);
  }

  .ui-scene {
    background-color: mat-color($primary);
  }
}
