<section class="mat-typography">
  <p>The modern visual novel-style game engine leveraging the power of web and
    Angular in ultimate stories -- open source and free to render interactive
    storytelling on browsers acrossing variety of smart devices upon the modern
    Web Components standards embracing the New Generation of Internet and Web.</p>
</section>

<section class="demo-entry mat-typography">
  <button mat-raised-button color="primary" class="ui-primary-button" routerLink="/game">
    DEMO SIMULATION
  </button>
</section>
